@use '../../style.scss' as *;

.BackgroundText {
    display: flex;
    position: fixed;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.BackgroundImage {
    width: calc(100% - 60px);
    height: 100%;
    opacity: 0.03;
  }