$white1: #FFFFF2;
$white2: #FFFFEB;
$white3: #FFFFD6;
$black1: #141400;
$red: #FF0000;
$green: #00ea00;
$blue: #0000FF;

$marginFont: 'Duru Sans', sans-serif;
$buttonFont: 'Duru Sans', sans-serif;
$showcaseFont: 'Duru Sans', sans-serif;
$backgroundTextFont: 'Duru Sans', sans-serif;
$infoFont: 'Duru Sans', sans-serif;

body {
    overflow-x: hidden;
  }